@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Edu QLD Beginner', cursive;
    font-style: normal;
    box-sizing: border-box
}

.WebContainer{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 400px){
    .environment-art-gallery{
        width: 75%;
        height: 42%;
    }

}

body{
    background: #c2e2cd;
}

.environment-art-gallery{
    position: relative;
    max-width: 90%;
    max-height: 90%;
    border-radius: 10%;
    margin: 1% auto 0;
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory; 
}

.environment-art-gallery div{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 100%; /* Take up 100% width, no shrinking or growing */
    scroll-snap-align: center; /* Snap the center of each image to the container */
}


.environment-art-gallery::-webkit-scrollbar{
    display:none;
}

.environment-art-gallery div img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: auto;
}

.environment-art-gallery-wrap{
    display: flex;
    align-items:center;
    justify-content: center;
    margin: auto auto;
}

#backBtn, #nextBtn{
    align-items:center;
    width: 10%;
    height: 10%;
    margin: 1%;
}
