@import url('https://fonts.googleapis.com/css?family=Cormorant Garamond');
*{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    box-sizing: border-box
}

nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, nav {
    display: block;}

.WebContainer{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 400px){
    .environment-art-gallery{
        width: 75%;
        height: 42%;
    }

}

body{
    background: #c2e2cd;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 2%;
    height: auto;
}

.profile-container h2 {
    color: #333;
}

.profile-container p {
    color: #666;
}

.profile-image {
    text-align: left;
    margin-right: 2%; /* Adjust as needed */
    float: left;
    object-fit: contain;
}

.profile-container img {
    max-height: 100%;
    max-height: 100%;
    height: auto;
}
.profile-container .profile-text {
    font-size: 20px;
}
.profile-container p {
    color: #666;
}


.environment-art-gallery{
    position: relative;
    max-width: 90%;
    max-height: 90%;
    border-radius: 10%;
    margin: 1% auto 0;
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory; 
}

.environment-art-gallery div{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 100%; /* Take up 100% width, no shrinking or growing */
    scroll-snap-align: center; /* Snap the center of each image to the container */
}


.environment-art-gallery::-webkit-scrollbar{
    display:none;
}

.environment-art-gallery div img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: auto;
}

.environment-art-gallery-wrap{
    display: flex;
    align-items:center;
    justify-content: center;
    margin: auto auto;
}

#backBtn, #nextBtn {
    align-items:left;
    width: 5%;
    height: 5%;
    margin: 1%;
}
